.product {
  border: 1px solid black;
  width: 300px;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.button {
  color: white;
  text-decoration: none;
  margin: 10px;
}

#btns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: relative;
  bottom: 0;
}
